*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
    font-family: Whitney, Helvetica neue;
}

header{
    width: 100%;
    height: 80px;
    background-color: royalblue;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 80px;
    z-index: 2;
}

.container{
    width: 80%;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.img-logo{
    vertical-align: middle;
}

#nav{
    float: left;
    display: inline;
    width: 80%;
}

#nav > ul{
    text-align: center;
}

.logo-container{
    float: left;
    width: 10%;
}

nav li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav li{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

#accedi{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
    float: right;
    border: 2px white;
    border-radius: 15px;
    background-color: white;
    color: black;
}
#accedi a{
    text-decoration: none;
}

.img-rana{
    height: 600px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#mac{
    display: inline-block;
    background-color: white;
    padding-right: 10px;
}

#mac a, #altro a{
    text-decoration: none;
}

#altro{
    display: inline-block;
    padding-right: 10px;
}

.text-top > h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.text-top > p{
    width: 40%;
    margin-left: 15%;
    width: 70%;
}
.text-top{
    color: white;
    position: absolute;
    top: 80px;
    width: 60%;
    text-align: center;
    transform: translate(50%,50%);
    font-size: 15px;
}

.text > h1 p{
    position: ab;
    top: 100px;
    width: 50%;
    text-align: center;
}

.text-top > p{
    width: 68%;
}

.testo1{
    display: inline-block;
    margin-top: 120px;
    margin-left: 80px;
}

.testo1 > h2{
    font-size: 30px;
    width: 38%;
    margin-bottom: 20px;
}

.testo2{
    display: inline-block;
    margin-top: 120px;
    margin-right: 80px;
}
.testo2 > h2{
    font-size: 30px;
    width: 38%;
    margin-bottom: 20px;
}

.testo3{
    display: inline-block;
    margin-top: 120px;
    margin-left: 80px;
}

.testo3 > h2{
    font-size: 30px;
    width: 38%;
    margin-bottom: 20px;
}

.testo4 > h2{
    margin-bottom: 20px;
}

.testo4 > p{
    width: 40%;
    margin-left: 15%;
    width: 70%;

}
/* .mac{
    color:black;
    background-color: white;
}

.altro{
    background-color: black;
} */

.img1{
    display: inline-block;
    margin-top: 80px;
    margin-left: 30px;
}

.img1 > .testo{
    position: absolute;
}

.riga1,.riga2,.riga3{
    margin-bottom: 80px;
}

.riga1 div{
    display: inline-block;
    float: left;
}

.riga1 .testo h2,p{
    float: left;
    width: 40%
    
}

.testo1,.testo3{
    float: right;
    width: 40%;
}

.testo1 > h2{
    font-size: 30px;
}

.testo2{
    float: left;
    width: 30%;
    position: absolute;
    left: 90px;
}

.testo2 > h2{
    font-size: 30px;
    width: 52%;
}

.riga2 div{
    display: inline-block;
    float: right;
    margin-left: 20%;
}


.riga3 div{
    display: inline-block;
    float: left;
}

.riga4{
    text-align: center;
}

.img4{
    text-align: center;
    margin-bottom: 30px;
}

.img-bottom{
    background-image: url(img/stars.svg);
    margin-bottom: 70px;
}




footer{
    background-color: purple;
    width: 100%;
    height: 800px;
}